<%- include('./partials/head') %>
    <%- post.yoast_head %>
</head>

<body>
    <%- include('./partials/header') %>
    <dialog id="alert-dialog">
        <p id="alert-message"></p>
    </dialog>
    <!-- Bron onderaan -->
    <main>
        <h3><%- post.title.rendered %></h3>

        <form method="POST" onsubmit="share(event)">
            <label for="share-button"><span id="shares"><%= shares %></span> keer gedeeld</label>
            <button role="submit" class="share-button">Deel dit artikel</button>
        </form>

        <div class="post-content"><%- post.content.rendered %></div>
    </main>
<%- include('./partials/footer') %>

<!-- Bron: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog -->