<%- include('./partials/head') %>
    <title>Red Pers - Artikelen door <%= posts[0].yoast_head_json.author %></title>
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <h2>Artikelen door <%= posts[0].yoast_head_json.author %></h2>
        <section class="posts">
            <%
                posts
                .forEach((post) => {
                    %>
                        <%- include('./partials/post', {post, showExerpt: false}) %>
                    <%
                })
            %>
        </section>
    </main>
<%- include('./partials/footer') %>
