<%- include('./partials/head') %>
    <title>Red pers - <%= category.name %> archieven</title>
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="posts">
            <%
                posts
                .forEach((post) => {
                    %>
                        <%- include('./partials/post', {post, showExerpt: false}) %>
                    <%
                })
            %>
        </div>
    </main>
<%- include('./partials/footer') %>