<%- include('./partials/head') %>
    <title>Red Pers - Podium voor de Journalistiek</title>
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <section class="posts front-page">
            <%
                posts[0]
                .forEach((post, i) => {
                    %>
                        <%- include('./partials/post', {post, showExerpt: i == 0})  /* if this is the first post, also show the excerpt */ %>
                    <%
                })
            %>
        </section>
            <% categories.forEach((category, i) => {/* De 'i' staat voor index of iteration, hiermee kunnen we de matchende array van posts vinden */ %>
                <section class="category">
                    <h2><%= category.name %></h2>
                    <div class="posts">
                        <%
                            posts[i + 1] // We voegen hier 1 aan toe om de eerste array van posts over te slaan
                            .forEach((post) => {
                                %>
                                    <%- include('./partials/post', {post, showExerpt: false}) %>
                                <%
                            })
                        %>
                    </div>
                </section>
            <%})%>
    </main>
<%- include('./partials/footer') %>
