<%- include('./partials/head') %>
<%- post.yoast_head %>
</head>

<%- include('./partials/header') %>
<body>
<div id="alert-container" class="hidden">
    <p id="alert-message"></p>
</div>
<main>
    <h3><%- post.title.rendered %></h3>

    <form method="POST" onsubmit="share(event)">
        <label for="share-button"><span id="shares"><%= shares %></span> keer gedeeld</label>
        <button role="submit" class="share-button">Deel dit artikel</button>
    </form>

    <div class="post-content"><%- post.content.rendered %></div>
</main>